:root{
    --primary-text-color: #757575;
    --primary-header-color: #212121;
    --secondary-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --accent-color-2: #188CE8;
    --background-color-1: #ECECEC;
    --background-color-2: #2F303A;
    --background-color-3: #F5F4FA;
    --background-color-4: #FFFFFF;
    --background-color-5: #E5E5E5;
    --background-color-6: #AFB1B8;
    --portfolio-border-color: #EEEEEE;
    --text-rgba-color: rgba(255, 255, 255, 0.6);
    --border-color-black: #000000;
    --border-color-grey: #AFB1B8;
    --tra: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes modalWindow {
    0%{
        transform: translate(-50%, -50%) scale(0);
        /* position: relative; */
        top: 50%;
        left: 50%;

        background-color: var(--background-color-4);
    
        border-radius: 4px;
    }   
    
    100%{
        transform: translate(-50%, -50%) scale(1);

        background-color: var(--background-color-4);
        /* position: relative; */
        top: 50%;
        left: 50%;
    
        border-radius: 4px;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
    background-color: var(--background-color-4);
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-header-color);
}

a{
    color: var(--primary-header-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
}

a:hover,
/* svg:hover, */
a:focus,
svg:focus{
    color: var(--accent-color);
    fill: currentColor; 
}

button{
    cursor: pointer;
}
.container{
    width: 1200px;
    margin: 0;
    margin: auto;
    padding: 0px 15px;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

img{
    display: block;
}

.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
/* .logo__span{
    color: var(--accent-color);
} */

/*-------- social accounts links ------------ */
.social-accounts{
    height: 44px;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}
.social-accounts__item{
    padding: 0;
    margin: 0;
}

.social-accounts__link{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--primary-text-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);

    border-radius: 50%;
}

.social-accounts__svg{
    width: 20px;
    height: 20px;
    margin: 0;

    fill: currentColor;
    /*transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);*/
    pointer-events: none;
}

.social-accounts__link:hover,
.social-accounts__link:focus{
    color: var(--background-color-4);
    background-color: var(--accent-color);
    
}

/*===================== header ====================*/
.header{
    border-bottom: 1px solid var(--background-color-1);
}

.header__logo{
    padding: 25px 0px 25px 0px;
    margin: 0;
    margin-right: 92px;

    pointer-events: none;
    color: var(--primary-header-color);
}

.header__logo--decoration{
    color: var(--accent-color);
}
    /*--------- navigation list ---------*/
.header__nav{
    display: flex;
    align-items: center;
}

.nav__list{
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    margin-right: auto;
}

/* .header-nav-list li:nth-child(1){
    margin-right: 50px;
}

.header-nav-list li:nth-child(2){
    margin-right: 50px;
} */

.nav__item:not(:last-child){
    margin-right: 50px;
}

.nav__link{
    text-decoration: none;
    position: relative;

    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.02em;
}

/* .nav__link::after{
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(34px);
    opacity: 0;
    pointer-events: none;

    transition-property: background-color, opacity;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
} */

    /*----- current page navigation text color ------*/
.header .current{
    color: var(--accent-color);
}
.nav__link--current::after{
    color: var(--accent-color);
    content: '';
    width: 100%;
    height: 4px;
    display: inline-block;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(34px);
    pointer-events: none;
    opacity: 1;
}

    /*------ div with contacts -------*/
.header__contacts{
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: center;
    display: flex;

    list-style: none;
}

.contacts__item:not(:last-child){
    margin-right: 30px;
}

.contacts__phone,
.contacts__mail{
    display: flex;
    align-items: center;

    color: var(--primary-text-color);
    text-decoration: none;
    
}

/*-------- contacts SVG --------*/
/* svg mail */
.contacts__envelope{
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: currentColor;
}

/* svg smartphone */
.contacts__smartphone{
    margin-right: 10px;
    width: 10px;
    height: 16px;
    fill: currentColor;
}

/*====================== footer ====================== */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-color-2);
}

.footer__container{
    display: flex;
    align-items: baseline;
}

.footer__box{
    margin-right: 70px;
}

.footer__logo{
    margin-bottom: 20px;
    display: block;

    pointer-events: none;
    color: var(--secondary-text-color);
}
.footer__logo--decoration{
    color: var(--accent-color);
}
    /* address list */

.address__link{
    margin: 0;
    
    text-decoration: none;
    font-style: normal;

    color: var(--text-rgba-color);
}

.address__link--decoration{
    color: var(--secondary-text-color);
}
.footer__address{
    width: 231px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.address__item:not(:last-child){
    margin-bottom: 9px;
}

/* social accounts */
.footer__social-accounts{
    padding: 0;
    margin: 0;
    margin-right: 93px;
    list-style: none;
    display: flex;
    gap: 10px;
}
.accounts-box__text{
    margin: 0;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.footer__accounts-link--decoration{
    background: rgba(255, 255, 255, 0.1);
    color: var(--secondary-text-color);
}
.footer__accounts-link--decoration:hover{
    background-color: var(--accent-color);
}
.footer_accounts-svg--decoration{
    fill: var(--secondary-text-color);
}

    /* footer form */

.form-container__text{
    margin: 0;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;

    color: var(--secondary-text-color);
}

.form-container__form-subscribe {
    display: flex;
    gap: 12px;
}

.form-subscribe__input{
    padding-left: 16px;
    background: transparent;
    color: var(--secondary-text-color);
    width: 358px;
    height: 50px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    /* identical to box height, or 125% */

    letter-spacing: 0.03em;

    /* color: rgba(255, 255, 255, 0.6); */

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
}

.form-subscribe__input:hover{
    border-color: var(--accent-color);
}

/* #footer-subscribe-email::placeholder{
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
} */

/* #footer-subscribe-email:hover::placeholder{
    color: var(--accent-color);
} */

.form-subscribe__button{
    display: inline-block;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(36 / 16);
    letter-spacing: 0.06em;

    background-color: var(--accent-color); 
    color: var(--secondary-text-color); 
    border: 0px;
    border-radius: 4px;

    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
}

.form-subscribe__button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #0e6bb7;
}

.button__svg{
    margin-left: 10px;
    width: 24px;
    height: 24px;
}
.footer__form-btn--svg{
    fill: currentColor;
}
/* ====================index.html=================*/

    /*--------------------- main -------------------*/
.our-work__header,
.main-customers__title,
.our-work__header{
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

    /* main header */
.main-header{
    background-color: var(--background-color-2);
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ), 
        url('../images/main-header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-header__title{
    margin: auto;
    margin-top: 0;
    margin-bottom: 30px;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.main-header__btn{
    display: block;
    margin: auto;
    padding: 10px 20px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    
    border-radius: 4px;
    background-color: var(--accent-color);
    border: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
}

.main-header-btn:hover,
.main-header-btn:focus{
    background-color: #0e6bb7;

    /* animation-name: modalWindow;
    transition-duration: 250ms;
    transition-timing-function: var(--tra); */
}

.main ul{
    list-style: none;
}

    /* -------------modal window----------- */
.modal-backdrop.is-hidden{
    visibility: hidden;
    opacity: 2;
    pointer-events: none;

    /* transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: var(--tra); */
}

.modal-backdrop.is-hidden .modal-backdrop__modal-container{
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;

    opacity: 2;
}

.modal-backdrop{
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);

    opacity: 1;
    background: rgba(0, 0, 0, 0.2);

    z-index: 9999;
}

.modal-backdrop__modal-container{
    position: absolute;
    width: 528px;
    height: 581px;
    padding: 40px;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    background-color: var(--background-color-4);
    /* top: calc(50% - 290.5px);
    left: calc(50% - 264px); */
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
    transform: translate(-50%, -50%) scale(1);    
}

.modal-container__button{
    position: absolute;
    right: 8px;
    top: 8px;
    display: block;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--accent-color);
    background-color: var(--background-color-4);

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);

}

.modal-container__button:hover,
.modal-container__button:focus{
    fill: currentColor;
}

.modal-container__svg{
    margin: 0;
    width: 11px;
    height: 11px;
    pointer-events: none;

}

.modal-container__text{
    margin: 0;
    padding: 0;
    margin-bottom: 12px;    

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);

    color: var(--primary-header-color);

}

    /* Modal form */
.main-form{
    display: flex;
    flex-direction: column;
}

.label__container{
    margin-bottom: 10px;
    position: relative;
}
.main-form__label{
    margin-bottom: 4px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 /12);

    letter-spacing: 0.01em;

    color: var(--primary-text-color);
}
.modal-form .form-checkbox{
    margin-bottom: 30px;
}
/* .modal-form-container div{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 50%;
    transform: translateY(-50%);
    border: var(--border-color-black) 1px solid;
} */
/* .modal-form-container div:hover,
.modal-form-container div:focus{
    border: var(--border-color-black) 1px solid;
} */
.label__container svg{
    width: 18px;
    height: 18px;

    position: absolute; 
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    
    pointer-events: none;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
}

.modal-form-container input:valid{
    border-color: green;
}

.modal-form-container input:invalid{
    border-color: red;
}

.main-form__input{
    height: 40px;
    width: 100%;
    padding-left: 42px;
    box-sizing: border-box;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: background-color, fill, filter;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
}

.main-form__input:hover,
.main-form__input:focus,
.main-form__textarea:hover,
.main-form__textarea:focus{
    border-color: var(--accent-color);
    fill: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    outline: none;
    cursor: pointer;
}

.main-form__input:hover + .input__svg,
.main-form__input:focus + .input__svg{
    fill: var(--accent-color);
}


.modal-form label:nth-child(-2){
    margin-bottom: 4px;
}

.main-form__textarea{
    padding: 12px 16px;
    height: 120px;
    margin-bottom: 20px;
    resize: none;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: background-color, border, fill, filter;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
}
.main-form__textarea::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

}
/* .modal-form-container {} */

.main-form__checkbox{
    margin: 0;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    width: 423px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 23px;
}

.checkbox__span{
    margin: 0;
}

.checkbox_link{
    color: var(--accent-color);
}

.checkbox__input{
    appearance: none;
    position: absolute;
}

.checkbox__span{
    width: 16px;
    height: 15px;
    /* outline: red 2px solid; */
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 2px;
    overflow: hidden;
}
.checkbox__svg:hover{
    cursor: pointer;
}
.checkbox__svg{
    width: 100%;
    height: 100%;
}

.checkbox__input:checked + .checkbox__span{
    fill: var(--accent-color);
    background-image: url("../images/icon-check.svg");
    background-origin: border-box;
    background-size: contain;
    
}

.main-form__button{
    width: 200px;
    height: 50px;
    align-self: center;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);

    letter-spacing: 0.06em;
    background: var(--accent-color-2);
    color: var(--secondary-text-color);
    
    border-radius: 4px;
    border: 0px;

    transition: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
}

.main-form__button:hover{
    background-color: #0e6bb7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
    /*------------ features ----------*/
.main-features__header{
    visibility: hidden;
    position: absolute;
}

.main-features__list{
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.list__item{
    width: 270px;
    background-repeat: no-repeat;
    background-position: center;
}

.item__div{
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color-3);
}

.item__svg{
    width: 70px;
    height: 70px;
}

.item__title{
    margin-top: 0;
    margin-bottom: 10px;

    line-height: 1.14;
    text-transform: uppercase;
}

.item__text{
    margin-top: 0;
    margin-bottom: 0;

    line-height: 1.71;
}

    /*----------- what we do -----------*/
.main__our-work{
    padding-top: 0px;
    background-color: var(--background-color-4);
}

.our-work__header{
    margin: 0;
    margin-bottom: 50px;

    text-align: center;
}

.our-work__list{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.item__container{
    position: relative;
}
.list__text--bottom{
    position: absolute;
    display: block;
    text-align: center;
    padding: 27px 0 27px 0;
    margin: 0;
    bottom: 0;
    width: 100%;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    background: rgba(47, 48, 58, 0.8);
    color: var(--secondary-text-color);
}

.list__item{
    margin-bottom: 0;
    width: 370px;
}
/*
.main-what-we-do-list li:not(:last-child){
    margin-right: 30px;
}
*/
    /*---------- our team ---------*/
.main__our-team{
    background-color: var(--background-color-3);
}

.our-team__header{
    margin: 0;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.our-team__list{
    padding: 0;
    margin: 0;
    display: flex;

    text-align: center;
}

.our-team__item{
    background-color: var(--background-color-4); 
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__item:not(:last-child){
    margin-right: 30px;
}

.our-team__img{
    width: 270px;
}

.our-team__container{
    padding-top: 30px;
    margin-bottom: 16px;
}

.our-team__title{
    margin: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.our-team__text{
    margin: 0;

    font-size: 16px;
    line-height: 1.18;
}

.our-team__links{
    margin: 0;
    margin-bottom: 30px;
    padding: 0 32px;

}

/* ------- Regular Customers ---------*/

.main-customers__title{
    margin: 0;
    margin-bottom: 50px;

    font-style: normal;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}
.main-customers__list{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

.main-customers__link--view {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
        
    border: 1px var(--border-color-grey) solid;
    border-radius: 4px;
    color: var(--border-color-grey);

    transition-property: border-color, color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
}

.main-customers__link--view:hover,
.main-customers__link--view:focus{
    border-color: var(--accent-color);
    color: var(--accent-color);
    fill: currentColor;
}

.main-customers__svg--view{
    fill: currentColor;
    /* transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--tra); */
    pointer-events: none;
    width: 106px;
    height: 60px;
}

/*================= portfolio.html ===================*/
.portfolio{
    background-color:var(--background-color-4);
}

.portfolio__header{
    visibility: hidden;
    position: absolute;
}
 
/*-------- filter ------------  */
.portfolio__filter{
    list-style: none;
    margin: 0;
    margin-bottom: 50px;
    padding-left: 0;
    display: flex;
    justify-content: center;

}

    /* portfolio filter buttons */
.filter__item:not(:last-child){
    margin-right: 8px;
}

.filter__btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 26px;

    
    background-color: var(--background-color-3);
    border-radius: 4px;
    border: none;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
}

.filter__btn:hover,
.filter__btn:focus{
    color: var(--secondary-text-color);

    background-color: var(--accent-color);
}

.filter__btn--apps-btn{
    padding: 6px 53px;
}

    /*---------- portfolio projects list ------------*/
.portfolio__projects{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}

.projects__element{
    background-color: var(--background-color-4);
    box-shadow: 0 0 0 1px var(--portfolio-border-color);
    
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
}

.projects__element:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__element:not(:last-child){
    margin-right: 0px;
}

/* .projects__img-container:nth-child(2){
    padding: 20px 24px;
} */
.projects__img-container{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.projects__img-text{
    margin: 0;
    padding: 63px 24px 24px 24px;
    position: absolute;
    height: 100%;
    width: 100%;
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;

    overflow: auto;
    opacity: 0.9;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--tra);
}

.projects__element:hover .projects__img-text{
    transform: translateY(-100%);
}

.projects__img{
    /* width: 100%; */
    margin: 0;
}

.projects__description-container{
    padding: 0 24px;
    margin-bottom: 20px;
}

.projects__title{
    margin-top: 0;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects__text{
    margin: 0;    
    font-size: 16px;
    line-height: 1.9;
}